/* common styles  */
body {
    font-family: 'Work Sans', sans-serif;
    /* background-image: url(./images/bg.png); */
    /* background-repeat: no-repeat; */
}


/* header styles */
.top-part {
    background-color: rgba(255, 144, 14, 0.1);
}


/* ----------------Bonas Style start-------------- */
.menu a:hover {
    background-color: #ff8800;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    opacity: 0.6;
    transition: 0.3s;
    /* ----------------Bonas Style end-------------- */
}


header {
    margin-left: 230px;
    margin-right: 230px;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #131313;
    font-weight: 700;
    font-size: 26px;
}

.menu a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    padding-left: 30px;
}

/* Main Styles  */
.main {
    margin-left: 230px;
    margin-right: 230px;
    text-align: center;
}

.main-title h1 {
    font-weight: 700;
    font-size: 54px;
    color: #131313;
}

.main-description p {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
}

.main-btn button {
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    background-color: #FF900E;
    width: 180px;
    height: 64px;
    border-style: none;
    border-radius: 8px;
    margin-top: 25px;
}

.main-banner img {
    margin-top: 50px;
    height: 100%;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 80px;
}

/* Feature info Design  */
.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 73px;
    margin-top: 160px;
    margin-left: 230px;
    margin-right: 230px;
}

.feature-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.features>.feature-gallery img {
    border-radius: 10px;
    padding: 12px;
    height: 100%;
    width: 100%;
}

.grey {
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}

.black {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.orange {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.feature-info-description {
    font-weight: 400;
}

.feature-info-btn button {
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    background-color: #FF900E;
    width: 180px;
    height: 64px;
    border-style: none;
    border-radius: 8px;
    margin-top: 25px;
}

.feature-info {
    padding-top: 200px;
    /* Must be responsive */
}

/* Love & Enjoy featurs styles  */
.love-enjoy {
    /* height: 800px;
    width: 1400px; */
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 130px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 100px;
}

.love-enjoy-title {
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.love-enjoy-image img {
    width: 100%;
    height: 90%;
}

.list {
    padding: 20px;
    box-shadow: 0px 5px 20px rgb(236, 236, 236);
    width: 100%;
    border-radius: 8px;
}

.list .list-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.list .list-description {
    color: #727272;
    font-weight: 400;
}

.love-enjoy-info {
    padding: 20px;
    height: 100%;
}

.love-enjoy-btn button {
    color: #ffffff;
    background-color: #FF900E;
    width: 342px;
    height: 200px;
    border-style: none;
    border-radius: 8px;
    margin-top: 25px;
}

button .years {
    font-weight: 700;
    font-size: 65px;
}

.love-enjoy-image button {
    font-weight: 400;
    font-size: 25px;
    position: relative;
    bottom: 160px;
    right: 50px;
}

/* Some Facts Styles  */
.some-facts {
    margin-left: 230px;
    margin-right: 230px;
}

.some-facts-section-title {
    font-weight: 700;
    font-size: 45px;
}

.some-facts-section-description {
    width: 540px;
    font-weight: 400;
    color: #727272;
}

.some-facts-body-item {
    height: 120px;
    width: 160px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 40px 20px
}

.item-score {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.item-name {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

.some-facts-body {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

/* Sponsor Styles  */
.sponsor {
    margin-top: 180px;
    margin-left: 230px;
    margin-right: 230px;
    text-align: center;
}

.sponsor-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponsor-description {
    font-weight: 400;
    color: #727272;
}

.sponsor-logo {
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.sponsor-logo img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* footer styles  */
footer {
    margin-top: 130px;
    margin-left: 230px;
    margin-right: 230px;
    height: 100px;
    background-color: rgba(255, 144, 14, 0.1);
}

.footer-description {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    text-align: center;
    padding-top: 40px;
}

/* Responsive style Starts  
---------------------------------------*/
@media screen and (max-width: 576px) {

    header {
        margin-left: 10px;
        margin-right: 10px;
    }

    nav {
        /* width: 100%;
        height: 100px; */
        display: flex;
        flex-direction: column;
        height: 200px;
        text-align: right;
        /* grid-template-row: repeat(2, 1fr); */
        /* align-items: right; */
    }

    .title h2 {
        font-size: 24px;
        text-align: left;
    }

    /* main styles  */
    .menu {
        font-weight: 400;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
        padding-bottom: 30px;
    }

    .menu a {
        color: #ffffff;
        text-align: center;
        background-color: #ff8800;
        width: auto;
        border-radius: 5px;
        text-align: center;
        padding-left: 0;
    }

    /* .menu-item{
        background-color: #ff8800;
        margin-left: 30%;
        margin-right: 30%;
        border-radius: 5px; */
    .main {
        margin-left: 10px;
        margin-right: 10px;
    }

    .main-title h1 {
        font-weight: 700;
        font-size: 25px;
    }

    .main-btn button {
        color: #ffffff;
        font-weight: 600;
        font-size: 16px;
        background-color: #FF900E;
        width: 120px;
        height: 40px;
        border-style: none;
        border-radius: 8px;
        margin-top: 25px;
    }

    .main-banner img {
        position: relative;
        height: auto;
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }


    /* Quick List Of Our Features */
    .features {

        display: flex;
        flex-direction: column-reverse;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
    }

    .feature-info {
        padding-top: 20px;
    }

    .grey {
        color: #727272;
        font-weight: 500;
        font-size: 35px;
    }

    .black {
        color: #131313;
        font-weight: 700;
        font-size: 35px;
    }

    .orange {
        color: #FF900E;
        font-weight: 700;
        font-size: 35px;
    }

    .feature-info-btn button {
        color: #ffffff;
        font-weight: 600;
        font-size: 18px;
        background-color: #FF900E;
        width: 160px;
        height: 40px;
        border-style: none;
        border-radius: 8px;
        margin-top: 25px;
    }

    /* Features You Will Love & Enjoy  */
    .love-enjoy {
        /* height: 800px;
        width: 1400px; */
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .love-enjoy-info {
        padding: 10px;
    }
    .list {
        padding: 5px;
        box-shadow: 0px 5px 20px rgb(236, 236, 236);
        width: 100%;
        border-radius: 8px;
    }

    .love-enjoy-image img {
        width: 80%;
    }

    button .years {
        font-weight: 700;
        font-size: 25px;
    }

    .love-enjoy-image button {
        font-weight: 400;
        font-size: 15px;
        position: relative;
        bottom: 70px;
    }

    .love-enjoy-btn button {
        color: #ffffff;
        background-color: #FF900E;
        width: 140px;
        height: 80px;
        border-style: none;
        border-radius: 8px;
        margin-top: 25px;
    }

    /* Some Facts Styles  */
    .some-facts {
        margin-left: 10px;
        margin-right: 10px;
    }

    .some-facts-section-description {
        width: 80%;
        font-weight: 400;
        color: #727272;
        margin-left: 10px;
        margin-right: 10px;
    }

    .some-facts-body {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .list{
        margin-right: 10px;
    }

    /* Our Sponsors Style  */
    .sponsor {
        margin-top: 180px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: left;
    }

    .sponsor-description {
        width: 80%;
        font-weight: 400;
        color: #727272;
    }

    .sponsor-logo {
        margin-top: 50px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
    }

    footer {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        text-align: center;
    }
}